apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app-deployment
spec:
  replicas: 1 # You can increase this for more pods
  selector:
    matchLabels:
      app: node-k8s-app
  template:
    metadata:
      labels:
        app: node-k8s-app
    spec:
      containers:
      - name: node-app
        image: nithi19/node-k8s-app:1.0 # Use your pushed image
        imagePullPolicy: IfNotPresent # Prevents pulling from Docker Hub if the image is local
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: node-app-service
spec:
  type: NodePort # Exposes the service on a static port on each Node's IP
  selector:
    app: node-k8s-app
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 30001 # Exposes the service to the external IP on this port (range 30000-32767)

